body{
	background-image: url(manifantiguerreindochine1969.png);
	background-repeat: no-repeat;
	background-size: 1920px 1020px;
	color: white;
	font-weight: bold;
	font-family: monospace, sans-serif;
	text-align: center;
}

#leader{
	position: absolute;
	left: 160px;
	top: 280px;
	width: 426px;
}

#leader h1{
	padding: 100px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: black;
}

#leader p{
	position: absolute;
	left: 160px;
	top: 280px;
	font-size: x-large;
}

#leader h1:hover{
	padding: 100px;
	border: 3px solid red;
	border-radius: 10px;
	background-color: red;
}

#leader p:hover{
	font-size: x-large;
	color:red;
}

#classique{
	position: absolute;
	left: 747px;
	top: 280px;
	width: 426px;
}

#classique h1{
	padding: 100px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: black;
}

#classique p{
	font-size: x-large;
}

#classique h1:hover{
	padding: 100px;
	border: 3px solid red;
	border-radius: 10px;
	background-color: red;
}

#classique p:hover{
	font-size: x-large;
	color:red;
}

#lache{
	position: absolute;
	left: 1334px;
	top: 280px;
	width: 426px;
}

#lache h1{
	padding: 100px;
	border: 3px solid black;
	border-radius: 10px;
	background-color: black;
}

#lache p{
	font-size: x-large;
}

#lache h1:hover{
	padding: 100px;
	border: 3px solid red;
	border-radius: 10px;
	background-color: red;
}

#lache p:hover{
	font-size: x-large;
	color:red;
}