body{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background-color: black;
	color: white;
	
}
#changeTexte{
}
p{
	margin-top: 50px;
	margin-left: 100px;
	margin-right: 100px;
	font-family: Monospace, sans-serif;
	font-size: 34px;
	word-spacing: 2px;
	opacity: 1;
	animation-name:patiente2;
	animation-duration: 50s;
	opacity: 0;
	background:rgba(0, 0, 0,0.50)
}
@keyframes patiente2{
	from{opacity:1;};
	to{opacity: 0.4;}; 
}
h1{
margin-top: 200px;
margin-right:652px;
margin-left: 750px;
padding-left: 2px;
border-radius: 3px;	
font-family: Monospace, sans-serif;
font-size: 50px;
word-spacing: 2px;
opacity: 0;
animation-name:patiente1;
animation-duration: 50s;
opacity: 1;
background:rgba(0, 0, 0,0.50)
}
@keyframes patiente1{
	from{opacity:0;};
	to{opacity: 1;}; 
}
a{
	font-size: 20px;
	position: absolute;
	left: 1600px;top: 1000px;
	text-decoration: none;
	background-color: whitesmoke;
	color: black;
	border-radius: 5px;
	padding: 5px;
	opacity: 0;
	animation-name:patiente1;
	animation-duration: 50s;
	opacity: 1;
}


.diaporama1{
	position: absolute;
	
    width: 1920px;
    height: 1070px;
    background-image: url("imgs/Acceuil2.jpg");
    background-repeat: no-repeat;
    background-size: 1960px 1060px;
    
    webkit-animation-name: diapo1;
    webkit-animation-duration: 9s;
    webkit-animation-timing-function: linear;
    webkit-animation-iteration-count: infinite;
    webkit-animation-direction: normal;
    
    moz-animation-name: diapo1;
    moz-animation-duration: 9s;
    moz-animation-timing-function: linear;
    moz-animation-iteration-count: infinite;
    moz-animation-direction: normal;
    
    animation-name: diapo1;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
}

@-webkit-keyframes diapo1{
	 background-repeat: no-repeat;
    0%{background-image: url("imgs/Acceuil2.jpg");}
    33%{background-image: url("imgs/Acceuil1.jpg");}
    66%{background-image: url("imgs/Acceuil3.jpg");}
}

@-moz-keyframes diapo1{
    0%{background-image: url("imgs/Acceuil2.jpg");}
    33%{background-image: url("imgs/Acceuil1.jpg");}
    66%{background-image: url("imgs/Acceuil3.jpg");}
}
@keyframes diapo1{  
	 0%{background-image: url("imgs/Acceuil2.jpg");}
    33%{background-image: url("imgs/Acceuil1.jpg");}
    66%{background-image: url("imgs/Acceuil3.jpg");}
}

